.Detail {
	position:relative;
	width: 100vw;

	.movie-poster {
		width: 100%;
		min-height: 600px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top;
		background-attachment: fixed;
		padding:100px 0 150px;

		.movie-hero {
			
			padding: 40px;
			border-radius: 40px;
			background-color: rgba(26,27,37,0.8);

			.movie-hero__info {

			}

			img {
				width: 100%;
				border-radius: 20px;
			}

			h1, h4, p {
				color: var(--gray);
			}
			h1 {
				margin-top: 25px;
			}

			p:first-of-type {
			  display: flex;
			  flex-direction: column;
			  align-items: start;

			  svg {
				margin-right: 10px;
			  }

			  a {
				font-family: var(--ff-primary);
				text-transform: uppercase;
				font-size: 1.2rem;
				font-weight: bold;
				margin: 5px 0;
				padding: 5px 10px;
				text-decoration: none;
				border-radius: 5px;
				color: var(--black);
				background-color: var(--primary);
				display: inline;
			  }

			  em {
				display: none;
			  }
			}

			p {
				font-size: 1.3rem;
			}
			
			h4 {
				margin-top: 40px;
			}

		}

	}

	.movie-detail {
		.movie-detail__bg{
			background: var(--secondary);
			background: linear-gradient(180deg, var(--secondary) 0%, var(--black) 80%);
			background-repeat: no-repeat;
			min-height: 400px;
			margin-top: -100px;
			border-radius: 40px;
			padding: 40px;
		}

		h2 {
			margin-bottom: 20px;
			margin-top: 50px;

			&:first-of-type {
				margin-top: 0;
			}
		}

		article {
			margin-bottom: 50px;
		}

		.characters {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;

			.card {
				border: none;
				border-radius: 0;
				img {
					border-radius: 0;
				}

				.card-body {
					background-color: var(--black);
					color: var(--gray);
					padding: 20px !important;
				}
			}
		}

		.crew {
			color: var(--gray);
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 40px;
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

	

	.Detail {
		.movie-detail {
			.characters {
				grid-template-columns: repeat(4, 1fr);
			}
		}
	}

	.Detail {
		.movie-detail {
			.crew {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
}



@media (min-width: 992px) {

	.Detail {
		.movie-detail {
			.characters {
				display: grid;
				grid-template-columns: repeat(6, 1fr);
			}
		}
	}

	.Detail {
		.movie-detail {
			.crew {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
			}
		}
	}
	
}

@media (min-width: 1200px) {

	.Detail {
		.movie-poster {
			.movie-hero {
				display: grid;
				gap: 40px;
				grid-template-columns: 1fr 5fr;

				p:first-of-type {
					flex-direction: row;
					align-items: center;

					em {
						margin: 0 10px;
						display: inline;
					}
	  
					a {
					  margin: 0 5px;
					}
				  }
			}
		}
	}

	.Detail {
		.movie-detail {
			.crew {
				display: grid;
				grid-template-columns: repeat(5, 1fr);
			}
		}
	}
	
}