.navbar {
    background-color: var(--black);
    padding: 0 !important;
    margin: 0;

    a {
        color: var(--gray);

        &:hover, &:active, &:focus {
            color: var(--gray);
        }
        
    }

    .navbar-brand {
        padding: 0;
        display: flex;
        align-items: center;
        margin-right: 20px;

        img {
            width: 40px;
            height: auto;
            margin-right: 10px;
        }

        font-family: var(--ff-primary);
    }

    .nav-link {
        padding: 25px 15px;
        transition: all .3s;
        border-bottom: 4px solid transparent;

        &:hover{
            border-bottom: 4px solid var(--primary);
        }
    }
}