@import url('https://fonts.googleapis.com/css?family=Archivo:500|Open+Sans:300,700');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    height: 100%;
    background: rgb(134,74,255);
    background: linear-gradient(180deg, rgba(134,74,255,0.7847514005602241) 0%, rgba(26,27,37,1) 80%);
    background-repeat: no-repeat;
}

.layout {
    min-height: 100vh;
    min-height: 100dvh;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
}

main {
    height: 100%;
}

footer {
    padding: 50px 0;
    border-top: 1px solid #e3e3e3;
}

.btn_favorite {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: 2px solid black;
    font-size: 12px;
}

.btn_favorite.added {
    border: 2px solid green;
}